html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

body{
  background: linear-gradient(160deg,#BABBDC 25%, #E8D6D3 50%, #FFBC94 75%, #DD9592 100%);
  background-repeat: no-repeat;

}

html,body{
  min-height: 100%;
}

a,a:link,a:visited,a:active{
  outline: none;
  text-decoration: none;
  display: inline-block;
  color: white;
  text-align: center;
}

h1 {
  border: 3px black inset;
  border-radius: 10px / 10px;
  box-shadow: 6px 7px 7px black;
  text-align: center;
  width: 500px;
  padding: 3px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button {
  display: flex;
  text-align: center;
  font-size: 14px;
  padding: 30px;
  margin: 18px auto;
  width: fit-content;
  border: none;
  color: white;
  background: #007FF4;
  box-shadow: 0px 4px 12px rgba(43, 54, 65, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.Selector{
  display: row;
  text-align: center;
  font-size: 12px;
  margin: 20px auto;
  padding: 12px;
  background: crimson;
  color: white;
  border: none;
  box-shadow: 0px 4px 12px rgba(43, 54, 65, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.form {
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding: 10px 8px;
  background: none;
  border: none;
  border-bottom: 1px solid #007FF4;
}

.Mindes{
  position: relative;
  top: 25%;
  left: 0%;
}

.GameWord{
  font-size: 40px;
}

.submitbutton{
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding: 10px 8px;
  background: none;
  border: none;
  background: #007FF4;
  box-shadow: 0px 4px 12px rgba(43, 54, 65, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

.navbar{
  display: row;
  text-align: center;
  font-size: 14px;
  padding: 30px;
  margin: 18px auto;
  width: fit-content;
  border: none;
  background: #007FF4;
  box-shadow: 0px 4px 12px rgba(43, 54, 65, 0.1);
  border-radius: 8px;
  cursor: pointer;
}

